.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.graph rect,
.graphVert rect {
  fill: steelblue;
}
.graph text,
.graphVert text {
  font-size: 1.8em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.graph .tick text {
  fill: #8e8883;
}
.graph .tick line,
.graphVert .tick line {
  stroke: #c0c0bb;
}
